<section class="contact-us-sec">
    <div class="contactus-rapper pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-header></app-header>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-sm-auto mt-5 pb-5">
                    <div class="banner-rapper mt-5 pb-5">
                        <div class="row justify-content-center  ">
                            <div class="col-md-auto">
                                <div class="row row-cols-1 py-3">
                                    <div class="col text-center">
                                        <p class="banner-pr-head orange-text">FAST, AFFORDABLE AND SECURE</p>
                                    </div>
                                    <div class="col text-center">
                                        <h1 class="banner-head display-4 py-4">
                                            Contact
                                        </h1>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row  justify-content-center py-4 pb-5">
                            <div class="col-lg-5 col-md-7 col-sm-10 col-11 ">
                                <p class="p2 banner-info text-center">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum accusantium
                                    exercitationem reprehenderit tempore dolor sed quisquam corrupti nisi beatae et aut
                                    voluptas enim impedit molestias debitis,quidem ut quod
                                    magnam molestias.
                                </p>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</section>

<div class="contact-us-info-sec my-5 py-4 ">
    <div class="container">
        <div class="row ">
            
            <div class="col-12 col-sm-12 col-lg-7 d-flex flex-column gy-4 px-lg-5  py-3 m-auto ">
                <div class="info-rapper  ">
                    <div class="info-head">
                        <div class="row justify-content-center  ">
                            <div class="col-auto ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32.374" height="8" viewBox="0 0 32.374 8">
                                    <g id="Group_30574" data-name="Group 30574" transform="translate(-227 -1786.865)">
                                      <path id="Path_73919" data-name="Path 73919" d="M0,0H30.374" transform="translate(228 1793.865)" fill="none" stroke="#ffc000" stroke-linecap="round" stroke-width="2"/>
                                      <path id="Path_73920" data-name="Path 73920" d="M0,0H18" transform="translate(240.377 1787.865)" fill="none" stroke="#ffc000" stroke-linecap="round" stroke-width="2"/>
                                    </g>
                                  </svg>
                                </div>

                            <div class="col-auto ">
                                <p class="orange-fade-text">
                                    CONTACT US
                                </p>
                            </div>
                        </div>
                    </div>
                    <h2 class="poppins-bold mt-4 text-center ">Contact Now For Taxi Booking</h2>
                    <div class="home-info mt-4">
                        <p class="p3-regular text-center ">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore ed dolore
                            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                            ea rebum. Stet clita kasd gubergren,
                            no sea takimata sanctus est Lorem ipsum dolor sit ame. Lorem ipsum dolor sit amet,
                            consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et.
                        </p>

                    </div>
                   
                </div>
            </div>

        </div>

        <div class="row py-3 ">
            <div class="col-12">
                <div class="branches-rapper">
                    <div class="row row-cols-5 justify-content-center  gap-3 ">
                        <div class="col-auto"
                             >
                            <div class="card rounded-4 py-4  px-5 gray-background" 
                                (click)="setBranch('branch1')"
                                 [class.active-branch]="active_branch=='branch1'">
                                <a  class="text-dark text-dark poppins-semi-bold text-decoration-none text-center fs-5  ">Branch 1</a>
                             </div>  
                        </div>
                        <div class="col-auto ">
                            <div class="card rounded-4 py-4  px-5"
                                (click)="setBranch('branch2')"
                                 [class.active-branch]="(active_branch=='branch2')"
                                  >
                                <a  class="text-dark text-dark poppins-semi-bold text-decoration-none text-center fs-5 ">Branch 3</a>
                             </div>  
                        </div>
                    
                        <div class="col-auto ">
                            <div class="card rounded-4 py-4  px-5"
                                (click)="setBranch('branch3')"
                                 [class.active-branch]="active_branch=='branch3'"
                                  >
                                <a  class="text-dark text-dark poppins-semi-bold text-decoration-none text-center fs-5 ">Branch 3</a>
                             </div>  
                        </div>
                        <div class="col-auto ">
                            <div class="card rounded-4 py-4  px-5"
                                (click)="setBranch('branch4')" 
                                [class.active-branch]="active_branch=='branch4'">
                                <a  class="text-dark text-dark poppins-semi-bold text-decoration-none text-center fs-5 ">Branch 4</a>
                             </div>  
                        </div>
                        <div class="col-auto ">
                            <div class="card rounded-4 py-4  px-5"
                                (click)="setBranch('branch5')" 
                                [class.active-branch]="active_branch=='branch5'"
                                >
                                                                <a  class="text-dark text-dark poppins-semi-bold text-decoration-none text-center fs-5 ">Branch 5</a>
                             </div>  
                        </div>
                    </div>

                    
                </div>
                
            </div>
        </div>
            <div class="contactus-card-rapper">
                <div class="row row-cols-lg-3  row-cols-sm-2  row-cols-1   justify-content-center  gx-5 gy-4  py-5">
                    <div class="col">
                        <div class="card border-0  text-center py-5 contact-card-backcol ">
                            <div class="card-img  text-center">
                                <img src="../../../assets/images/Icon feather-map-2.png" alt="" class="img-fluid ">
                            </div>
                            <p class="mt-4"> Lorem Ipsum Dolor Sit Amet  </p>
                            <h3 class="poppins-semi-bold mt-1"> OUR OFFICE LOCATION </h3>
                        </div>
                        
        
                    </div>
                    <div class="col">
                        <div class="card border-0  text-center py-5 contact-card-backcol ">
        
                            <div class="card-img">
                                <img src="../../../assets/images/Icon feather-map-2.png" alt="" class="img-fluid ">
                            </div>
                            <p class="mt-4 "> HAVE A QUESTION?  </p>
                            <h3 class="poppins-semi-bold mt-1">82930 09871 098</h3>
                        </div>
                        
        
                    </div>
                    <div class="col">
                        <div class="card border-0 text-center py-5 contact-card-backcol ">
        
                            <div class="card-img ">
                                <img src="../../../assets/images/Icon feather-map-2.png" alt="" class="img-fluid ">
                            </div>
                            <p class="mt-4 ">ANY QUESTIONS? EMAIL US!  </p>
                            <h3 class="poppins-semi-bold mt-1"> Info@Gmail.Com </h3>
                        </div>
                        
        
                    </div>
                </div>
            </div>

            <div class="row  row-cols-1 mt-3 gap-5 contact-card-backcol p-0  ">
                <div class="col-lg-5 col-12 p-0 ">
                     <div class="map  position-relative w-100  ">
                        <img src="../../../assets/images/151-ultra-light-with-labels.png" alt="" class="image-style"> 

                        <div class="marker position-absolute top-50  translate-middle-y start-50 ">
                            <img src="../../../assets/images/Icon awesome-map-marker-alt.svg" alt="">
                        </div>
                     </div>
                </div>

                <div class="col-lg-6 col-12  py-3">
                    <div class="row">
                        <div class="col">
                            <h2 class="poppins-bold mt-4">Get A Free Quote</h2>
                            <p class="p3-regular " style="opacity: 60%;">
                                Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna
                            </p>

                        </div>
                    </div>
                    <form action="" class="contactus-form mt-4 input-style">
                        <div class="container-fluid">
                            <div class="row  my-3 row-cols-1 row-cols-sm-2 gy-sm-0 gy-3">
                                <div class="col px-lg-0 ">
                                    <input class="form-control form-control-lg border-0 " 
                                     type="text" placeholder="Enter Your Name"
                                     aria-label=".form-control-lg example">

                                    
                                </div>
                                <div class="col">
                                    <input class="form-control form-control-lg border-0"
                                     type="tel" placeholder="Phone Number"
                                      aria-label=".form-control-lg example">

                                </div>
                            </div>
                            <div class="row my-3 row-cols-1 row-cols-sm-2 gy-3 gy-sm-0">
                                <div class="col  px-lg-0 ">
                                    <input class="form-control form-control-lg border-0"  list="booking-start-des" id="booking-start"
                                    placeholder="Start Destinaton">
                                <datalist id="booking-start-des">
                                    <option value="San Francisco">
                                    <option value="New York">
                                    <option value="Seattle">
                                    <option value="Los Angeles">
                                    <option value="Chicago">
                                </datalist>
                                </div>
                                <div class="col">
                                    <input class="form-control form-control-lg border-0"  list="booking-start-des" id="booking-start"
                                    placeholder="End Destinaton">
                                <datalist id="booking-start-des">
                                    <option value="San Francisco">
                                    <option value="New York">
                                    <option value="Seattle">
                                    <option value="Los Angeles">
                                    <option value="Chicago">
                                </datalist>
                                    
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col  px-lg-0 ">
                                    <textarea class="form-control  form-control-lg border-0" id="exampleFormControlTextarea1" rows="5" placeholder="write a message"></textarea>

                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col px-lg-0 ">
                                    <button type="button" class="form-control text-light form-control-lg booking-btn ">Send Message</button>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
    </div>
</div>
       