
<footer>
       <div class="footer-rapper">
        <div class="container py-5">
            <div class="row  justify-content-center flex-wrap">
                <div class="col-5 col-md-3  col-sm-6  col-lg-3">
                    <div class="logo">
                        <img src="../../../assets/images/logo.png" alt="">
                    </div>
                    <p class="p1 mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, tempora. Sapiente beatae nemo veniam voluptatum debitis aliquam tempora eum ipsam inventore? Voluptatibus enim accusantium sed ad id, eligendi fugit aut.
                    </p>
                </div>
                   <div class="col-5 col-md-3 col-sm-6 col-lg-3 ">
                     <ul class="footer-list pt-4 pt-4">
                        <li><a href=""><b>Quick Links</b></a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Bookings</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                     </ul>
                   </div>
                   <div class="col-5 col-md-3  col-sm-6 col-lg-3">
                    <ul class="footer-list pt-4">
                       <li><a href=""><b>Quick Links 2</b></a></li>
                       <li><a href="">Services</a></li>
                       <li><a href="">Location</a></li>
                       <li><a href="">Driver</a></li>
                       <li><a href="">FAQs</a></li>
    
                    </ul>
                  </div>
                  <div class="col-5 col-md-3  col-sm-6 col-lg-3 ">
                        <ul class="footer-list pt-4 ">
                            <li><a href=""><b>Contact Us</b></a></li>
                            <li><a href=""><i class="fa fa-phone me-2"></i>+92 334 324234</a></li>
                            <li><i class="fa fa-envelope me-2"></i><a href=""><small>careservices@gmal.com</small></a></li>
                            <li  >
                             <p class="p1">
                                 <span>
                                    <i class="fa fa-map-marker me-2 "></i>
                                 </span> 
                                 Lorem ipsum dolor sit amet consectetur,  dicta error cumque, culpa provident. Suscipit vel necessitatibus.Suscipit vel necessitatibus.
                             </p>
                               
         
                     
                         </li>
                           
                         </ul>
                
                    
                    
                  </div>
            </div>
        </div>
       </div>

    <div class="copy-right py-2 my-1">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                   <small>Copyrights © 2023All Rights Reserved</small>
                </div>
                <div class="col-auto d-flex gap-2">
                   <span><a href=""><i class="fa fa-facebook"></i></a></span>
                    <span><a href=""><i class="fa fa-instagram"></i></a></span>
                    <span><a href=""><i class="fa fa-youtube-play"></i></a></span>
                    <span><i class="fa fa-twitter"></i></span>
                </div>
           </div>
        </div>
        </div>
        
</footer>