<section class="booking-sec">
    <div class="booking-rapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-header></app-header>
                </div>
            </div>
            <div class="row justify-content-md-center py-5">
                <div class="col col-sm-auto mt-5 pb-5">
                    <div class="banner-rapper mt-4 pb-5">
                        <div class="row justify-content-center">
                            <div class="col-md-auto">
                                <div class="row row-cols-1">
                                    <div class="col text-center">
                                        <p class="banner-pr-head orange-text">FAST, AFFORDABLE AND SECURE</p>
                                    </div>
                                    <div class="col text-center pt-2 ">
                                        <h1 class="banner-head display-4">
                                            Bookings
                                        </h1>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row  justify-content-center mt-4 pb-4 ">
                            <div class="col-lg-4 col-md-7 col-sm-10 col-11">
                                <p class="p2 banner-info text-center pt-2 pb-5">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum accusantium
                                    exercitationem reprehenderit tempore dolor sed quisquam corrupti nisi beatae et aut
                                    voluptas enim impedit molestias debitis,quidem ut quod
                                    magnam molestias.
                                </p>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>


</section>

<section class="booking-form-sec my-5 py-5">
    <div class="container gray-background py-5 rounded-4">
        <div class="row justify-content-center ">
            <div class="col-12 ">
                <div class="row justify-content-center ">
                    <div class="col-auto col-md-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32.374" height="8" viewBox="0 0 32.374 8">
                            <g id="Group_30574" data-name="Group 30574" transform="translate(-227 -1786.865)">
                              <path id="Path_73919" data-name="Path 73919" d="M0,0H30.374" transform="translate(228 1793.865)" fill="none" stroke="#ffc000" stroke-linecap="round" stroke-width="2"/>
                              <path id="Path_73920" data-name="Path 73920" d="M0,0H18" transform="translate(240.377 1787.865)" fill="none" stroke="#ffc000" stroke-linecap="round" stroke-width="2"/>
                            </g>
                          </svg>
                    </div>
                    <div class="col-auto col-md-auto ">
                        <p class="orange-fade-text">
                            BOOKINGS

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-11 col-lg-7 col-md-10 text-center mt-2">
                <h2 class="poppins-bold mt-2">Make Your Booking Today</h2>
                <p class="p4-regular mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore ed dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                    accus</p>

            </div>


        </div>
        <div class="row">
            <div class="col-12">
                <form action="" class="py-5 px-sm-5">
                    <div class="container-fluid">
                        <div class="row my-1 my-sm-3 row-cols-1 row-cols-sm-2 gy-3 ">
                            <div class="col input-style input-style">
                                <input class="form-control form-control-md" type="text" placeholder="Enter Your Name"
                                    aria-label=".form-control-md example">
                            </div>
                            <div class="col input-style">
                                <input class="form-control form-control-md" type="tel" placeholder="Phone Number"
                                    aria-label=".form-control-md example">

                            </div>
                        </div>
                        <div class="row my-1 my-sm-3 row-cols-1 row-cols-sm-2 gy-3">
                            <div class="col input-style">
                                <input class="form-control form-control-md"  list="booking-start-des" id="booking-start"
                                    placeholder="Start Destinaton">
                                <datalist id="booking-start-des">
                                    <option value="San Francisco">
                                    <option value="New York">
                                    <option value="Seattle">
                                    <option value="Los Angeles">
                                    <option value="Chicago">
                                </datalist>
                            </div>
                            <div class="col input-style">
                                
                                <input class="form-control form-control-md"  list="booking-end-des" id="booking-end"
                                    placeholder="End Destinaton">
                                <datalist id="booking-end-des">
                                    <option value="San Francisco">
                                    <option value="New York">    
                                    <option value="Seattle">
                                    <option value="Los Angeles">
                                    <option value="Chicago">
                                </datalist>

                            </div>
                        </div>

                        <div class="row my-1 my-sm-3 row-cols-1 row-cols-sm-2 gy-3">
                            <div class="col input-style">
                                <input class="form-control form-control-md" type="number" placeholder="Passengers"
                                    aria-label=".form-control-md example">
                            </div>
                            <div class="col input-style ">
                                <input class="form-control form-control-md"  list="cars-catagory" id="cars"
                                    placeholder="Car Catagory">
                                <datalist id="cars-catagory">
                                    <option value="San Francisco">
                                    <option value="New York">    
                                    <option value="Seattle">
                                    <option value="Los Angeles">
                                    <option value="Chicago">
                                </datalist>
                            </div>
                        </div>
                        <div class="row my-1 my-sm-3 row-cols-1 row-cols-sm-2 gy-3 ">
                            <div class="col input-style">
                                    <input
                                        class="form-control  form-control-md "
                                        placeholder="select date"
                                        name="dp"
                                        [(ngModel)]="model"
                                        ngbDatepicker
                                        #d="ngbDatepicker"
                                        (click)="d.toggle()"
                                       >
                            </div>
                            <div class="col input-style">
                                <input class="form-control form-control-md" type="time" placeholder="Select Time"
                                    aria-label=".form-control-md example">
                            
                    

                            </div>
                        </div>
                        
                        <div class="row  my-3 ">
                            <div class="col-12 input-style">
                                <textarea class="form-control  form-control-md" id="exampleFormControlTextarea1" rows="3" placeholder="write a message"></textarea>
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col">
                                <button type="button" class="form-control  text-light form-control-lg btn-grad">Book Now</button>

                            </div>
                        </div>


                    </div>


                </form>

            </div>
        </div>
    </div>
</section>