<section class="about-us">
    <div class="about-rapper pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-header></app-header>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-sm-auto mt-5 pb-5">
                    <div class="banner-rapper mt-5 pb-5">
                        <div class="row justify-content-center  ">
                            <div class="col-md-auto">
                                <div class="row row-cols-1 pt-2">
                                    <div class="col text-center">
                                        <p class="banner-pr-head orange-text">FAST, AFFORDABLE AND SECURE</p>
                                    </div>
                                    <div class="col text-center">
                                        <h1 class="banner-head display-4 pt-2">
                                            About
                                        </h1>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row  justify-content-center pt-4 pb-5">
                            <div class="col-lg-5 col-md-7 col-sm-10 col-11 ">
                                <p class="p2 banner-info text-center">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum accusantium
                                    exercitationem reprehenderit tempore dolor sed quisquam corrupti nisi beatae et aut
                                    voluptas enim impedit molestias debitis,quidem ut quod
                                    magnam molestias.
                                </p>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</section>
<section class="about-us-booking">
    <div class="booking-rapper gray-background py-5 px-0">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-lg-5 text-center">
                    <div class="booking-image  w-75 h-100 mx-sm">
                        <img src="../../../assets/images/happy-woman-driving-car-PNEF01974.png" alt="">
                        <div class="sub-image w-50 h-50">
                            <img src="../../../assets/images/depositphotos_539776766-stock-photo-happy-driver-holding-steering-wheel.png"
                                alt="">
                        </div>

                    </div>

                </div>
                <div class="col-12 col-sm-12 col-lg-7 d-flex flex-column gy-4 px-lg-5  py-3  ">
                    <div class="abouts-rapper ">
                        <div class="about-head">
                            <div class="row">
                                <div class="col-auto ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32.374" height="8" viewBox="0 0 32.374 8">
                                        <g id="Group_30574" data-name="Group 30574" transform="translate(-227 -1786.865)">
                                          <path id="Path_73919" data-name="Path 73919" d="M0,0H30.374" transform="translate(228 1793.865)" fill="none" stroke="#ffc000" stroke-linecap="round" stroke-width="2"/>
                                          <path id="Path_73920" data-name="Path 73920" d="M0,0H18" transform="translate(240.377 1787.865)" fill="none" stroke="#ffc000" stroke-linecap="round" stroke-width="2"/>
                                        </g>
                                      </svg>

                                </div>
                                <div class="col">
                                    <p class="orange-fade-text">
                                        ABOUT OUR COMPANY
                                    </p>
                                </div>
                            </div>


                        </div>
                        <h2 class="poppins-bold mt-3">Book Your Taxi In Just A Few Second!</h2>
                        <div class="home-info mt-3">
                            <p class="p3-regular">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore ed dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                                ea rebum. Stet clita kasd gubergren,
                                no sea takimata sanctus est Lorem ipsum dolor sit ame. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam
                                nonumy eirmod tempor invidunt ut labore et.
                            </p>

                        </div>
                        <div class="home-btn mt-3 text-center text-lg-start">
                            <button class="btn-lg rounded-pill border-0 text-light taxy-btn px-5">More Abot Us</button>
                        </div>
                    </div>





                </div>
            </div>

        </div>

    </div>

    <div class="facts-rapper  my-5">
        <div class="container">
            <div class="row  gap-1">
                <div class="col-12">
                    <div class="row row-cols-2 ">
                        <div class="col-auto  d-flex flex-column">
                            <span class="h-line-2 my-1 "></span>
                            <span class="h-line-1 my-1">
                            </span>

                        </div>
                        <div class="col">
                            <p class="orange-fade-text  ">
                                SOME FACTS
                            </p>
                        </div>

                    </div>


                </div>
                <div class="col-12">
                    <div class="row  justify-content-sm-between justify-content-around   gy-2">
                        <div class="col-lg-3 ">
                            <div class="facts-info ">
                                <p class="arno-semibold" >We always try to serve the best service for you.</p>

                            </div>
                        </div>
                        <div class="col col-md-auto col-sm-4 ">
                            <div class="fact-img d-flex justify-content-center  align-items-cente" style="box-sizing:border-box;">
                                 <h3 class="counter  counter-style" data-target="500">
                                    500
                                 </h3>
                                 
                            </div>
                            <div class="fact-desc">
                                <p class="poppins-medium fs-5">Special Vehicle</p>
                            </div>
                        </div>
                        <div class="col col-md-auto col-5">
                            <div class="fact-img d-flex gy-5">
                                 <h3 class="counter counter-style" data-target="25,000">
                                    25,000
                                 </h3>
                                 
                                 
                            </div>
                            <div class="fact-desc">
                                <p class="poppins-medium fs-5">People Pickup</p>

                            </div>
                        </div>
                        <div class="col col-md-auto col-5 ">
                            <div class="fact-img">

                               
                                <h3 class="counter counter-style" data-target="19,000"> 19,000 </h3>
                                
                            </div>
                            <div class="fact-desc ">
                                <p class="poppins-medium fs-5 ">Road Trips Done</p>


                            </div>
                        </div>
                        <div class="col col-md-auto col-5 ">
                            <div class="fact-img">
                                <h3 class="counter counter-style" data-target="30,000">30,000</h3>
                                
                            </div>
                            <div class="fact-desc">
                                <p class="poppins-medium fs-5"> Satisfied Clients</p>

                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>

    </div>
</section>
<section class="about-us-features gray-background py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <div class="row py-3">
                    <div class="col-auto d-flex flex-column">
                        <span class="h-line-2 my-1 "></span>
                        <span class="h-line-1 my-1">
                        </span>

                    </div>
                    <div class="col-auto">
                        <p class="orange-fade-text">
                            WHAT WE OFFER
                        </p>

                    </div>

                    <h2 class="poppins-bold ">Our Featured Services</h2>


                </div>

            </div>
        </div>

        <div class="row gy-5">
            <div class="col-12 p-0">
                <div class="cards-rapper ">
                    <div class="row row-cols-3 gy-5  gx-3 justify-content-center ">
                        <div class="col-xl col-lg-4 col-md-6 col-sm-10 col-11 ">
                            <div class="crd p-5">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <div
                                            class="w-100 bg-warning d-flex justify-content-center align-items-center py-4 px-3 border-bootm-right">
                                            <div class="w-75">
                                                <img src="../../../assets/images/car-89.svg" alt="" class="img-fluid">

                                            </div>

                                        </div>

                                    </div>
                                    <div class="col d-flex align-items-center justify-content-start ">
                                        <div class="card-headings w-100 h-100 mt-3">

                                            <h2 class="p2">
                                                Service 1
                                            </h2>
                                            <p>
                                                Lorem Ipsum Dolor
                                            </p>
                                        </div>


                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col py-4">
                                        <p class="card-desc ">
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat expedita
                                            sunt minus ducimus ad, dignissimos commodi suscipit officiis? Nisi laborum
                                            ab veritatis dolores. Facilis numquam veniam ex, labore ad iusto.
                                        </p>
                                        <div class="crd-footer d-flex justify-content-start align-items-start gap-2">
                                            <p>Details</p>
                                            <button class="border-0  background-none" data-bs-toggle="collapse"
                                                data-bs-target="#collapseExample">
                                                <i class="fa fa-angle-right"></i>
                                            </button>

                                        </div>
                                        <div class="collapse" id="collapseExample">
                                            <div class="card-body">
                                                Some placeholder content for the collapse component. This panel is
                                                hidden by default but revealed when the user activates the relevant
                                                trigger.
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>
                        <div class="col-xl col-lg-4 col-md-6 col-sm-10 col-11">
                            <div class="crd p-5">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <div
                                            class="w-100 bg-warning d-flex justify-content-center align-items-center py-4 px-3 border-bootm-right">
                                            <div class="w-75 ">
                                                <img src="../../../assets/images/car-89.svg" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex align-items-center justify-content-start ">
                                        <div class="card-headings w-100 h-100 mt-3">
                                            <h2 class="p2">
                                                Service 2
                                            </h2>


                                            <p>
                                                Lorem Ipsum Dolor
                                            </p>
                                        </div>


                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col py-4">
                                        <p class="card-desc ">
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat expedita
                                            sunt minus ducimus ad, dignissimos commodi suscipit officiis? Nisi laborum
                                            ab veritatis dolores. Facilis numquam veniam ex, labore ad iusto.
                                        </p>
                                        <div class="crd-footer d-flex justify-content-start align-items-start gap-2">
                                            <p>Details</p>
                                            <button class="border-0  background-none" data-bs-toggle="collapse"
                                                data-bs-target="#collapseExample2">
                                                <i class="fa fa-angle-right"></i>
                                            </button>

                                        </div>
                                        <div class="collapse" id="collapseExample2">
                                            <div class="card-body">
                                                Some placeholder content for the collapse component. This panel is
                                                hidden by default but revealed when the user activates the relevant
                                                trigger.
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>
                        <div class="col-xl col-lg-4 col-md-6 col-sm-10 col-11">
                            <div class="crd p-5">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <div
                                            class="w-100 bg-warning d-flex justify-content-center align-items-center py-4 px-3 border-bootm-right">
                                            <div class="w-75 ">
                                                <img src="../../../assets/images/car-89.svg" alt="" class="img-fluid">

                                            </div>

                                        </div>

                                    </div>
                                    <div class="col d-flex align-items-center justify-content-start ">
                                        <div class="card-headings w-100 h-100 mt-3">

                                            <h2 class="p2">
                                                Service 3
                                            </h2>


                                            <p>
                                                Lorem Ipsum Dolor
                                            </p>
                                        </div>


                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col py-4">
                                        <p class="card-desc ">
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat expedita
                                            sunt minus ducimus ad, dignissimos commodi suscipit officiis? Nisi laborum
                                            ab veritatis dolores. Facilis numquam veniam ex, labore ad iusto.
                                        </p>
                                        <div class="crd-footer d-flex justify-content-start align-items-start gap-2">
                                            <p>Details</p>
                                            <button class="border-0  background-none" data-bs-toggle="collapse"
                                                data-bs-target="#collapseExample3">
                                                <i class="fa fa-angle-right"></i>
                                            </button>

                                        </div>
                                        <div class="collapse" id="collapseExample3">
                                            <div class="card-body">
                                                Some placeholder content for the collapse component. This panel is
                                                hidden by default but revealed when the user activates the relevant
                                                trigger.
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>


                </div>



            </div>
        </div>
    </div>
</section>
<section class="work-process-sec my-5">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-11 col-lg-7 col-md-10 ">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-auto  d-flex flex-column ">
                        <span class="h-line-2 my-1 "></span>
                        <span class="h-line-1 my-1">
                        </span>
                    </div>
                    <div class="col-md-auto align-items-center">
                        <p class="orange-fade-text">
                            ABOUT US
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-11 col-lg-7 col-md-10 text-center mt-2">
                <h2 class="poppins-bold mt-2">Our Work Process</h2>
                <p class="p4-regular mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore ed dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                    accus</p>

            </div>

        </div>

        <div class="row my-4 justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 col-sm-10">
                <div class="work-card-rapper">
                    <div class="row-cols-1 ">
                        <div class="col d-flex justify-content-start my-3">

                            <div class="wrk-card rounded-4 px-4 py-2 w-75 ">

                                <div class="crd-header d-flex justify-content-between border-rounded-5 align-items-center">
                                    <h3 >Searching For Taxi</h3>
                                    <span >
                                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="35" viewBox="0 0 22 73" class="image-style">
                                          <text id="_1" data-name="1" transform="translate(11 55)" fill="#333" font-size="52" font-family="Poppins-Black, Poppins" font-weight="800" opacity="0.2"><tspan x="-10" y="0">1</tspan></text>
                                        </svg>
                                    </span>
                                </div>
                                  <div class="crd-body p1">
                                    <p class="p3-regular">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum tempora enim soluta exercitationem saepei.</p>
                                  </div>
                                  <div class="side-image">
                                
                                  </div>
                                  
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center my-3">

                            <div class="wrk-card rounded-4 px-4 py-2 w-75 ">

                                <div class="crd-header d-flex justify-content-between border-rounded-5 align-items-center">
                                    <h3 >Book A Taxi</h3>
                                    <span >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="35" viewBox="0 0 30 73">
                                            <text id="_2" data-name="2" transform="translate(15 55)" fill="#333" font-size="52" font-family="Poppins-Black, Poppins" font-weight="800" opacity="0.2"><tspan x="-14" y="0">2</tspan></text>
                                          </svg>
                                          
                                    </span>
                                </div>
                                  <div class="crd-body p1">
                                    <p class="p3-regular">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum tempora enim soluta exercitationem saepei.</p>
                                  </div>
                                  <div class="side-image">
                                
                                  </div>
                                  
                            </div>
                        </div>
                        <div class="col d-flex justify-content-start my-3">

                            <div class="wrk-card rounded-4 px-4 py-2 w-75 ">

                                <div class="crd-header d-flex justify-content-between border-rounded-5 align-items-center">
                                    <h3 >Arrive Safely</h3>
                                    <span >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="35" viewBox="0 0 32 73">
                                            <text id="_3" data-name="3" transform="translate(16 55)" fill="#333" font-size="52" font-family="Poppins-Black, Poppins" font-weight="800" opacity="0.2"><tspan x="-15" y="0">3</tspan></text>
                                          </svg>
                                    </span>
                                </div>
                                  <div class="crd-body p1">
                                    <p class="p3-regular">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum tempora enim soluta exercitationem saepei.</p>
                                  </div>
                                  <div class="side-image">
                                
                                  </div>
                                  
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-11 col-md-8 col-lg-6 col-sm-10">
                <img src="../../../assets/images/Group 38511@2x.png" alt="" class="image-style" >

            </div>
        </div>
    </div>
</section>