<section class="faqs-header">
  <div class="faqs-rapper pb-4">
    <div class="container">
      <div class="row px-0">
        <div class="col-12 px-0">
          <app-header></app-header>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col col-sm-auto mt-5 pb-5">
          <div class="banner-rapper mt-5 pb-5">
            <div class="row justify-content-center">
              <div class="col-md-auto">
                <div class="row row-cols-1 pt-2">
                  <div class="col text-center">
                    <p class="banner-pr-head orange-text">
                      FAST, AFFORDABLE AND SECURE
                    </p>
                  </div>
                  <div class="col text-center">
                    <h1 class="banner-head display-4 pt-2">
                      Frequently Asked <br />
                      <div class="mt-2">Questions</div>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center pt-4 pb-5">
              <div class="col-lg-5 col-md-7 col-sm-10 col-11">
                <p class="p2 banner-info text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Nostrum accusantium exercitationem reprehenderit tempore dolor
                  sed quisquam corrupti nisi beatae et aut voluptas enim impedit
                  molestias debitis,quidem ut quod magnam molestias.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faqs pt-5 gray-background">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row d-flex justify-content-end ">
          <div class="col-md-9 col-12 px-4 my-3">
            <h2 class="poppins-bold mx-1">
              Answers To Your Frequently Asked Questions
            </h2>
          </div>
        </div>

        <div class="row gap-3">
          <div class="col-md-3 col-12">
            <div
              class="accordion accordion-flush rounded-2 border-2-dark bg-light"
              id="accordionFlushExample"
            >
              <h3 class="poppins-semi-bold-2 px-4 py-3">Table Of Content</h3>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    class="accordion-button accordian-btn collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    General
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    <ul class="list-unstyled">
                      <li class="faq-item p-2">Safety Feature 1</li>
                      <li class="faq-item p-2">Safety Feature 2</li>
                      <li class="faq-item p-2">Safety Feature 3</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    class="accordion-button accordian-btn collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                    Trust & Safety
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    <ul class="list-unstyled">
                      <li class="faq-item p-2">Safety Feature 1</li>
                      <li class="faq-item p-2">Safety Feature 2</li>
                      <li class="faq-item p-2">Safety Feature 3</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button
                    class="accordion-button accordian-btn collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    Services
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    <ul class="list-unstyled">
                      <li class="faq-item p-2">Safety Feature 1</li>
                      <li class="faq-item p-2">Safety Feature 2</li>
                      <li class="faq-item p-2">Safety Feature 3</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button
                    class="accordion-button accordian-btn collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    Lorem
                  </button>
                </h2>

                <div
                  id="flush-collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    <ul class="list-unstyled">
                      <li class="faq-item p-2">Safety Feature 1</li>
                      <li class="faq-item p-2">Safety Feature 2</li>
                      <li class="faq-item p-2">Safety Feature 3</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button
                    class="accordion-button accordian-btn collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    Lorem
                  </button>
                </h2>
                <div
                  id="flush-collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingFive"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    <ul class="list-unstyled">
                      <li class="faq-item p-2">Safety Feature 1</li>
                      <li class="faq-item p-2">Safety Feature 2</li>
                      <li class="faq-item p-2">Safety Feature 3</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button
                    class="accordion-button accordian-btn collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseSix"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    Lorem
                  </button>
                </h2>
                <div
                  id="flush-collapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingFive"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    <ul class="list-unstyled">
                      <li class="faq-item p-2">Safety Feature 1</li>
                      <li class="faq-item p-2">Safety Feature 2</li>
                      <li class="faq-item p-2">Safety Feature 3</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-12">
            <div class="right-faqs">
              <div class="row row-cols-1">
                <div class="col">
                  <div class="search-bar mb-3 position-relative">
                    <input
                      type="text"
                      class="form-control py-3 px-5 position-relative"
                      placeholder="Ask a question"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <span
                      class="position-absolute top-50 mx-2 translate-middle-x translate-middle-y"
                      ><i
                        class="fa fa-search"
                        style="color: #868786; font-size: 20px"
                      ></i>
                    </span>
                    <span
                      class="faqs-grad py-2 px-4 text-light rounded-3 position-absolute end-0 top-0 mx-2 my-2"
                      id="basic-addon2"
                    >
                      Search
                    </span>
                  </div>
                </div>
            <!-- Accordian Right Start -->
                <div class="accordion" id="accordionExample2" >
                  <div class="accordion-item my-4 py-1">
                    <div class="d-flex justify-content-between  px-4 py-3 ">
                      <h2
                        class="accordion-header   accordian-right-header"
                        id="headingOne"
                      >
                        At vero eos et accusam et justo duo
                      </h2>
                      <button
                        class="border-0 rounded-btnn  gray-background"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-right1"
                        aria-expanded="true"
                        aria-controls="collapseright1"
                        (click)="showOrHide('close_icon_1','open_icon_1')"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25.555"
                          height="25.555"
                          viewBox="0 0 25.555 25.555"        
                          id="close_icon_1"
                          class="img-fluid "
                       
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(12.778 -12.678) rotate(45)"
                          
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          viewBox="0 0 18.07 18.07"
                          class="img-fluid hide-icon"
                          id="open_icon_1"
                        
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(-8.965 -8.965)"
                            
                          />
                        </svg>
                      </button>
                    </div>

                    <div
                      id="collapse-right1"
                      class="accordion-collapse collapse show"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample2"
                    >
                      <div class="accordion-body">
                        <p class="p3-regular">
                          It is shown by default, until the collapse plugin adds
                          the appropriate classes that we use to style each
                          element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions.
                          You can modify any of this with custom CSS or
                          overriding our default variables. It's also worth
                          noting that just about any HTML can go within the
                          though the transition does limit overflow.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item my-4 py-1">
                    <div class="d-flex justify-content-between  px-4 py-3 ">
                      <h2
                        class="accordion-header   accordian-right-header"
                        id="headingOne"
                        >
                        At vero eos et accusam et justo duo
                      </h2>

                      <button
                        class="border-0 rounded-btnn  gray-background"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseright2"
                        aria-expanded="true"
                        aria-controls="collapseright2"
                        (click)="showOrHide('open_icon_2','close_icon_2')"
                       
                        >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          viewBox="0 0 18.07 18.07"
                         
                          class="img-fluid"
                          id='open_icon_2'
                         
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(-8.965 -8.965)"
                           
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25.555"
                          height="25.555"
                          viewBox="0 0 25.555 25.555"        
                          
                          id='close_icon_2'
                          class="img-fluid hide-icon"
                         
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(12.778 -12.678) rotate(45)"
                          />
                        </svg>
                      </button>
                    </div>

                    <div
                      id="collapseright2"
                      class="accordion-collapse collapse "
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample2"
                    >
                      <div class="accordion-body">
                        <p class="p3-regular">
                          It is shown by default, until the collapse plugin adds
                          the appropriate classes that we use to style each
                          element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions.
                          You can modify any of this with custom CSS or
                          overriding our default variables. It's also worth
                          noting that just about any HTML can go within the
                          though the transition does limit overflow.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item my-4 py-1">
                    <div class="d-flex justify-content-between  px-4 py-3 ">
                      <h2
                        class="accordion-header   accordian-right-header"
                        id="headingOne"
                        >
                        At vero eos et accusam et justo duo
                      </h2>

                      <button
                        class="border-0 rounded-btnn  gray-background"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseright3"
                        aria-expanded="true"
                        aria-controls="collapseright3"
                        (click)='showOrHide("open_icon_3","close_icon_3")'
                       
                        >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          viewBox="0 0 18.07 18.07"
                          
                          class="img-fluid"
                          id="open_icon_3"
                         
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(-8.965 -8.965)"
                           
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25.555"
                          height="25.555"
                          viewBox="0 0 25.555 25.555"        
                          
                          id='close_icon_3'
                          class="img-fluid hide-icon"
                         
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(12.778 -12.678) rotate(45)"
                          />
                        </svg>
                      </button>
                    </div>

                    <div
                      id="collapseright3"
                      class="accordion-collapse collapse "
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample2"
                    >
                      <div class="accordion-body">
                        <p class="p3-regular">
                          It is shown by default, until the collapse plugin adds
                          the appropriate classes that we use to style each
                          element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions.
                          You can modify any of this with custom CSS or
                          overriding our default variables. It's also worth
                          noting that just about any HTML can go within the
                          though the transition does limit overflow.
                        </p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="accordion-item my-4 py-1">
                    <div class="d-flex justify-content-between  px-4 py-3 ">
                      <h2
                        class="accordion-header   accordian-right-header"
                        id="headingOne"
                        >
                        At vero eos et accusam et justo duo
                      </h2>

                      <button
                        class="border-0 rounded-btnn  gray-background"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseright4"
                        aria-expanded="true"
                        aria-controls="collapseright4"
                        (click)="showOrHide('open_icon_4','close_icon_4')"
                        >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          viewBox="0 0 18.07 18.07"
                          class="img-fluid"
                          id='open_icon_4'
                         
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(-8.965 -8.965)"
                           
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25.555"
                          height="25.555"
                          viewBox="0 0 25.555 25.555"        
                         
                          id='close_icon_4'
                          class="img-fluid hide-icon"
                         
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(12.778 -12.678) rotate(45)"
                          />
                        </svg>
                      </button>
                    </div>

                    <div
                      id="collapseright4"
                      class="accordion-collapse collapse "
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample2"
                    >
                      <div class="accordion-body">
                        <p class="p3-regular">
                          It is shown by default, until the collapse plugin adds
                          the appropriate classes that we use to style each
                          element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions.
                          You can modify any of this with custom CSS or
                          overriding our default variables. It's also worth
                          noting that just about any HTML can go within the
                          though the transition does limit overflow.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item my-4 py-1">
                    <div class="d-flex justify-content-between  px-4 py-3 ">
                      <h2
                        class="accordion-header   accordian-right-header"
                        id="headingOne"
                        >
                        At vero eos et accusam et justo duo
                      </h2>

                      <button
                        class="border-0 rounded-btnn  gray-background"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseright5"
                        aria-expanded="true"
                        aria-controls="collapseright5"
                        (click)="showOrHide('open_icon_5','close_icon_5')"
                        >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          viewBox="0 0 18.07 18.07"
                          
                          class="img-fluid"
                          íd='open_icon_5'
                         
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(-8.965 -8.965)"
                           
                          />
                        </svg>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25.555"
                          height="25.555"
                          viewBox="0 0 25.555 25.555"        
                          
                          id='close_icon_5'
                          class="img-fluid hide-icon"
                         
                        >
                          <path
                            id="Icon_ionic-ios-add"
                            data-name="Icon ionic-ios-add"
                            d="M25.91,16.875H19.125V10.09a1.125,1.125,0,0,0-2.25,0v6.785H10.09a1.125,1.125,0,0,0,0,2.25h6.785V25.91a1.125,1.125,0,0,0,2.25,0V19.125H25.91a1.125,1.125,0,0,0,0-2.25Z"
                            transform="translate(12.778 -12.678) rotate(45)"
                          />
                        </svg>
                      </button>
                    </div>

                    <div
                      id="collapseright5"
                      class="accordion-collapse collapse "
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample2"
                    >
                      <div class="accordion-body">
                        <p class="p3-regular">
                          It is shown by default, until the collapse plugin adds
                          the appropriate classes that we use to style each
                          element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions.
                          You can modify any of this with custom CSS or
                          overriding our default variables. It's also worth
                          noting that just about any HTML can go within the
                          though the transition does limit overflow.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Accordian Right End -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid faqs-grad rounded-2 mt-5 py-1">
    <div class="row">
      <div class="col-12">
        <div class="container py-4">
          <div class="row">
            <div
              class="col-12 d-flex justify-content-between align-items-center"
            >
              <a
                class="poppins-semi-bold-2 text-light text-decoration-none"
                style="cursor: pointer"
              >
                Learn More About What We Can Offer
              </a>
              <button
                class="btn btn btn-outline-light rounded-5 px-5 py-2 poppins-medium fs-6"
              >
                Contact Us
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
